<p class="mb-0" *ngIf="cordovaVersion"><strong>Cordova Version:</strong> {{cordovaVersion}}</p>
<p class="mb-0" *ngIf="deviceModel"><strong>Device Model:</strong> {{deviceModel}}</p>
<p class="mb-0" *ngIf="devicePlatform"><strong>Device Platform:</strong> {{devicePlatform}}</p>
<p class="mb-0" *ngIf="deviceUuid"><strong>Device UUID:</strong> {{deviceUuid}}</p>
<p class="mb-0" *ngIf="deviceVersion"><strong>Device Version:</strong> {{deviceVersion}}</p>
<p class="mb-0" *ngIf="deviceManufacturer"><strong>Device Manufacturer:</strong> {{deviceManufacturer}}</p>
<p class="mb-0" *ngIf="deviceIsVirtual"><strong>Virtual Device:</strong> {{deviceIsVirtual}}</p>
<p class="mb-0" *ngIf="deviceSerial"><strong>Device Serial:</strong> {{deviceSerial}}</p>

